In [12]:
import pandas as pd

In [13]:
data={'category':['A','B','C','A','B','C','A','B','C']}

In [14]:
df=pd.DataFrame(data)
df.head()

  category
0        A
1        B
2        C
3        A
4        B

In [15]:
one_hot_encoded_df=pd.get_dummies(df,columns=['category'])
one_hot_encoded_df.head()

   category_A  category_B  category_C
0        True       False       False
1       False        True       False
2       False       False        True
3        True       False       False
4       False        True       False

In [16]:
one_hot_encoded_df=pd.get_dummies(df,columns=['category'],prefix='Dummy',drop_first=True)
one_hot_encoded_df.head()

   Dummy_B  Dummy_C
0    False    False
1     True    False
2    False     True
3    False    False
4     True    False