In [3]:
#import library
import pandas as pd

In [7]:
#empty df
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [13]:
city=["Berlin","Elrngen","Zurich"]

In [11]:
df=pd.DataFrame(city)
df

         0
0   Berlin
1  Elrngen
2   Zurich

In [14]:
type(city)

list

In [18]:
row, col = df.shape

In [19]:
row

3

In [20]:
col

1

In [21]:
df.shape

(3, 1)

In [22]:
df

         0
0   Berlin
1  Elrngen
2   Zurich

In [30]:
df=pd.DataFrame(city, columns=["City_in_Europe"], index=["c1","c2","c3"])
df

   City_in_Europe
c1         Berlin
c2        Elrngen
c3         Zurich